/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Spartan:wght@400;500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Urbanist", sans-serif;
  line-height: 1.5;
  font-weight: bold;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --buttonColor: #2a2c30;
  --secondaryColor: hsl(34, 94%, 87%);
  --borderColor: rgb(19, 148, 180);
  --borderColorSecondary: hsl(113, 15%, 90%);
  --backgroundColor: #f7f7f7;
  --backgroundSecondary: hsl(0, 0%, 93%);
  --textColor: hsl(154, 13%, 32%);
  --titleColor: hsl(0, 0%, 13%);
  --main-color: hsl(176, 88%, 27%);
  --supporting-color: hsl(129, 44%, 94%);
  --glow-color: hsl(60, 1%, 56%);

  --transition: cubic-bezier(0, 0, 0.05, 1);
}

html {
  font-size: 62.5%;
  color: var(--textColor);
}

/*=============== Body styling ===============*/

body {
  margin: 0 auto;
  padding: 0 auto;
  min-width: 320px;
  background-color: var(--backgroundColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  color: var(--titleColor);
}

h1 {
  font-size: 3.2rem;
}

p,
li,
a,
label {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--textColor);
  line-height: 1.5;
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  color: #676cff;
  text-decoration: none;
  &:hover {
    color: #535bf2;
  }
}

::placeholder {
  font-family: "Urbanist", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.form-input {
  width: 100%;
  border: 1px solid var(--borderColorSecondary);
  padding-inline: 1rem;
  height: 35px;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.grid {
  display: grid;
}

.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-four--cols{
    grid-template-columns: repeat(4,1fr);
}
.btn {
  display: inline-block;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  color: var(--backgroundColor);
  padding-inline: 2rem;
  height: 49px;
  line-height: 44px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  border-radius: 0.75rem;
  transition: all 0.4s var(--transition);
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
  -webkit-transition: all 0.4s var(--transition);
  -moz-transition: all 0.4s var(--transition);
  -ms-transition: all 0.4s var(--transition);
  -o-transition: all 0.4s var(--transition);
}

.btn:hover {
  background-color: transparent;
  color: var(--main-color);
}

.flex{
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
}

.new-price{
  font-size: 1.4rem;
  color: var(--main-color);
  font-weight: 600;
}

.old-price{
  color:grey;
text-decoration: line-through;
}

/***** Layout *****/
.container {
  max-width: 142rem;
  margin: 0 auto;
  margin: 1rem 15rem;
}

/***** End Layout *****/

/***** Navbar Section *****/
.top_txt {
  background-color: var(--supporting-color);
  color: var(--textColor);
  border-bottom: 1px solid var(--borderColor);
  padding: 1.5rem 1rem 1.5rem 7rem;

  & .container{
    margin:0 15rem;
  }

  & p,
  a {
    font-size: 1.2rem;
    color: var(--textColor);
    font-weight: 500;
  }

  & a:hover {
    color: #676cff;
  }
}

.section-navbar {
  width: 100%;
}

.section-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}


#shopIcon i {
  font-size: 30px;
  color: black;
  display: flex;
  align-items: end;

  & p {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

#shopIcon i:hover {
  color: var(--main-color);
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.section-navbar .navbar ul {
  display: flex;
  gap: 3.2rem;
  text-transform: capitalize;
  align-items: center;
  & li a {
    color: #2a2c30;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-family: "Spartan";
    display: inline-block;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: -0.1rem;
      left: 0;
      width: 0%;
      border-bottom: 0.1rem solid var(--main-color);
      transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
    }
  }
  & li a:hover {
    color: var(--main-color);
  }
  & li a:hover::after {
    width: 100%;
  }
  & #active-link {
    color: var(--main-color);
  }
}
.right-section {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header-search {
  width: 340px;
  display: flex;
  gap: 0.1rem;
}
.search-btn {
  width: 33px;
  height: 33px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--backgroundSecondary);
  background-color: var(--main-color);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  & i {
    color: var(--borderColorSecondary);
  }
}
.header-action-btn {
  position: relative;
}

.header-action-btn img {
  width: 22px;
  margin-top: 10px;
}

.header-action-btn .count {
  position: absolute;
  top: -1.5rem;
  right: -1rem;
  background-color: var(--main-color);
  color: var(--backgroundColor);
  width: 20px;
  height: 20xp;
  line-height: 18px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.user i {
  font-size: 20px;
  cursor: pointer;
}
/***** End Navbar Section *****/

/***** Hero Section *****/
main {
  height: 80vh;
  position: relative;
}

main .section-hero {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  

  & .hero-subheading {
    font-size: 1.5rem;
    line-height: 2.5;
  }
  & .hero-heading {
    line-height: 1.4;
    font-size: 3.5rem;
  }
  & .hero-heading span {
    color: var(--main-color);
    font-size: 4rem;
    font-family: "Spartan", sans-serif;
  }
  & .hero-para {
    font-size: 1.3rem;
    margin-block: 0.5rem 2rem;
  }
}

.section-hero .grid {
  align-items: center;
  gap: 20rem;
}

.section-hero img {
  width: 550px;
  height: auto;
}

/***** End Hero Section *****/

/***** Deals Section *****/
.deals-section h2{
    font-size: 2.5rem;
    line-height: 2.5;
    padding-left: 2rem;

    & span{
        color: var(--main-color);
    }

}

.deals-section .grid{
    gap:3rem;
    
} 
.deals-item:nth-child(1){
    background-image: url(src/assets/images/deals-1.jpg);
}

.deals-item:nth-child(2){
    background-image: url(src/assets/images/deals-2.png);
}

.deals-item{
    padding: 3rem;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    row-gap: 1.4rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.deals-brand {
    color:var(--main-color);
    font-size: 2rem;
    margin-bottom: .5rem;
}

.deals-category{
    font-family: "spartan",sans-serif;
    font-size: 1.2rem;
}

.deals-title{
    max-width: 240px;
    font-size: 1.5rem;
    font-weight: 550;
    line-height: 1.3;
}

.deals-price .new-price,.deals-price .old-price{
    font-size: 1.4rem;

}

.deals-price .new-price{
    color: hsl(352, 100%, 60%);
}

.deals-countdown-text{
    margin-bottom: .25rem;
}
.countdown{
    display: flex;
    column-gap: 1.7rem;
}

.countdown-amount{
    position: relative;
}

.countdown-amount::after{
    content: ":";
    color: var(--titleColor);
    font-size: 1.4rem;
    position: absolute;
    right: -28%;
    top: 25%;
}

.countdown-period{
    background-color: var(--main-color);
    color: var(--backgroundColor);
    width: 35px;
    height:40px;
    line-height: 40px;
    text-align: center;
    border-radius: .75rem;
    -webkit-border-radius: .75rem;
    -moz-border-radius: .75rem;
    -ms-border-radius: .75rem;
    -o-border-radius: .75rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.unit{
    font: size 1.2em;
    text-align: center;
    display: block;
}

.deals-btn .btn{
    background-color: transparent;
    color: var(--main-color);
    height:40px;
}

.btn--md{
    font-size: 1.5rem;
    line-height: 35px;
}
/*** End Deals Section *****/
/***** Policy Section *****/ 
.section-policy {
  background-color: var(--backgroundSecondary);
  margin-top: 4rem;
  overflow: auto;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.div-policy{
    padding: 2.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-right: 0.1rem solid var(--backgroundColor);

    & :last-child{
        border-right: none;
    }
    & .icons{
        font-size: 3.2rem;
        color:var(--main-color)

    }
    & p{
        font-size: 12px;
    }
    & p:last-child{
        font-size: 10px;
    }
}
/***** End Policy Section *****/
/***** Categories Section *****/ 
.categories-section{
  margin-top: 4rem;
  
   & .slider{
    padding: 1rem;
    display: flex;
    overflow-x: auto;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    &::-webkit-scrollbar{
      width: 0;
    }
}

  & h3{
    padding: 0 2rem;
    font-size: 2.5rem;
    line-height: 1.2;

    & span{
      color: var(--main-color);
    }
  }

}

.category-item{
  margin: 10px;
  width: 180px;
  text-align: center;
  border: 1px solid var(--borderColorSecondary);
  background-color: var(--backgroundColor);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;

  & img{
    margin-top: 2px;
    width: 170px;
    background-size: cover;
    background-position: center;
    border-radius:1rem ;
    -webkit-border-radius:1rem ;
    -moz-border-radius:1rem ;
    -ms-border-radius:1rem ;
    -o-border-radius:1rem ;
}
  & h3{
    font-size: 1.6rem;
    line-height: 1.5;
  }
}

/***** End Categories Section *****/

/***** Products Section *****/ 
#productContainer{
  max-height: 880px;
  overflow-y: auto;
   &::-webkit-scrollbar{
    width: 0;
   }
}

.tab-btns{
  display: flex;
  column-gap: 0.75rem;
  margin-bottom: 2rem;
}

.tab-btn{
  background-color: var(--backgroundSecondary);
  color: var(--titleColor);
  padding: 1rem 1.25rem 0.875rem;
  border-radius: .25rem;
  font-family: "spartan",sans-serif;
  font-size:1.2rem;
  font-weight: 600;
  cursor: pointer;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  -ms-border-radius: .25rem;
  -o-border-radius: .25rem;
}

.tab-btn.active-tab{
  background-color: var(--secondaryColor);
  
}
/* .tab-item:not(.active-tab){
  display: none;
} */

.product-item{
  display: flex;
  flex-direction: column;
  width: 230px;
  margin-bottom: 3rem;
  border: 1px solid var(--borderColor);
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  & img{
    margin-top: 2px;
    width: 200px;
    background-size: cover;
    background-position: center;
    border-radius:1rem ;
    -webkit-border-radius:1rem ;
    -moz-border-radius:1rem ;
    -ms-border-radius:1rem ;
    -o-border-radius:1rem ;
}
}
.product-banner{
  padding: 0.625rem 1.5rem 0.75rem 1.5rem;
  position: relative;
}

.product-images{
  display: block;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.product-img-back.hover{
  position:absolute;
  top:0;
  left:0;
}

.product-item:hover .product-img-back{
  margin-top: 10px;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  vertical-align: center;
}

.product-actions{
  position:absolute;
  top:50%;
  left:53%;
  transform:translate(-50%,-50%) ;
  display:flex;
  column-gap: 0.2rem;
  -webkit-transform:translate(-50%,-50%) ;
  -moz-transform:translate(-50%,-50%) ;
  -ms-transform:translate(-50%,-50%) ;
  -o-transform:translate(-50%,-50%) ;
}

.action-btn{
  padding-left: 1px;
  width:27px;
  height: 25px;
  background-color: var(--backgroundSecondary);
  border: 0.025rem solid var(--borderColorSecondary);
  color: var(--textColor);
  font-size: 1.1rem;
  line-height: 2.2;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.action-btn::before,
.action-btn::after{
  margin-left: 5px;
  position:absolute;
  left:50;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.action-btn::before{
  content: "";
  top:-2px;
  border: .5rem solid transparent;
  border-top-color:var(--main-color)
}

.action-btn::after{
  content: attr(aria-label);
  bottom:100%;
  background-color: var(--main-color);
  color: var(--backgroundColor);
  font-size: 0.70rem;
  white-space: nowrap;
  padding-inline:.625rem;
  border-radius: 0.25rem;
  line-height: 2.5;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}
.product-badge{
  position: absolute;
  left:1.6rem;
  top:1.25rem;
  background-color: var(--main-color);
  color: var(--backgroundColor);
  padding:.15rem .9rem;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
  text-align: center;
}
.product-badge#light-pink{
  background-color: lightpink;
}
.product-badge#light-green{
  background-color: lightgreen;
}
.product-badge#light-orange{
  background-color: hsl(24,100%,73%);
}
.product-badge#light-blue{
  background-color: lightblue;
}

.product-content{
  padding:0 1.25rem 1.125rem;
  position: relative;
}

.product-category{
  color: var(--textColor);
  font-size: 1.1rem;
}
.product-title{
  font-size: 1.6rem;
  margin-block: .75rem .5rem;
}

.product-rating{
  font-size: 1.2rem;
  color: hsl(42,100%,50%);
  margin-bottom: 0.75rem;
}
.product-price{
  margin-bottom: 0.75rem;
}
.product-stock{
  margin-bottom: 0.5rem;

  & p,span{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Lato",sans-serif;
  }
}
.product-quantity{
  
 & p{
  font-size: 1.1rem;
  font-weight: 700;
  }
}

.stockElement {
  width: 80px;
  height: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  text-align: center;

  & button {
    background-color: var(--main-color);
    color: var(--backgroundColor);
    font-size: 1.5rem;
    padding: 0.23rem 0.23rem;
    font-weight: bold;
    border: none;
    

    &:hover {
      cursor: pointer;
      background-color: var(--backgroundSecondary);
      color: var(--main-color);
    }

    &:first-child {
      border-right: 0.1rem solid var(--main-color);
      border-top-left-radius: 0.2rem;
      border-bottom-left-radius: 0.2rem;
}

    &:last-child {
      border-left: 0.1rem solid var(--main-color);
      border-top-right-radius: 0.2rem;
      border-bottom-right-radius: 0.2rem;
      
    }

  }
}

.cart-btn{
  font-size: 1.2rem;
}



/* Product hover*/
.product-img-back.hover,
.product-actions,
.action-btn::after,
.action-btn::before,
.product-item:hover .product-img-front{
  opacity:0;
}

.product-item:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.product-item:hover .product-img-back.hover{
  opacity:1;
}

/***** End Products Section *****/

